<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "file:///c:/dtd/mybatis-3-mapper.dtd">
<!-- "http://mybatis.org/dtd/mybatis-3-mapper.dtd" -->
<mapper namespace="com.webjjang.notice.mapper.NoticeMapper">

	<!-- 1-1. list -->
	<select id="list">
		select no, title, startDate, endDate, updateDate
		from (
			select rownum rnum, no, title, startDate, endDate, updateDate
			from (
				select no, title, startDate, endDate, updateDate
				from notice
				<include refid="setPeriod" />
				order by updateDate desc
			)
		) where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 1-2. getTotalRow -->
	<select id="getTotalRow">
		select count(*)
		from notice
		<include refid="setPeriod" />
	</select>
	
	<!-- 중복이 되거나 복잡하면 sql 태그를 만들어가 가져다가 사용한다. -->
	<!-- 1-3 공지 종류 -->
	<sql id="setPeriod">
		<!-- 현재 공지 : pre -->
		<if test="period == 'pre'">
			where trunc(sysdate) between trunc(startDate) and trunc(endDate)
		</if>
		<!-- 지난 공지 : old -->
		<if test="period == 'old'">
		<![CDATA[
			where trunc(sysdate) > trunc(endDate)
		]]>
		</if>
		<!-- 예약 공지 : res -->
		<if test="period == 'res'">
		<![CDATA[
			where trunc(sysdate) < trunc(startDate)
		]]>
		</if>
		<!-- 전체 공지 : all  검색 조건 없음. -->
		<if test="period == 'all'">
		</if>
	</sql>
	
	<!-- 2. view -->
	<select id="view">
		select no, title, content, startDate, endDate, writeDate, updateDate
		from notice
		where no = #{no}
	</select>
	
	<!-- 3. write -->
	<insert id="write">
		insert into notice(no, title, content, startDate, endDate)
		values(notice_seq.nextval, #{title}, #{content},
				#{startDate}, #{endDate})
	</insert>
	
	<!-- 4. update -->
	<update id="update">
		update notice
		set title = #{title}, content = #{content},
			startDate = #{startDate}, endDate = #{endDate},
			updateDate = sysdate
		where no = #{no}
	</update>
	
	<!-- 5. delete -->
	<delete id="delete">
		delete from notice where no = #{no}
	</delete>

</mapper>