<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "file:///c:/dtd/mybatis-3-mapper.dtd">
<!-- "http://mybatis.org/dtd/mybatis-3-mapper.dtd" -->
<mapper namespace="com.webjjang.member.mapper.MemberMapper">
	<!-- 1-1. 로그인 처리 -->
	<select id="login" resultType="com.webjjang.member.vo.LoginVO">
		select m.id, m.name, m.gradeNo, g.gradeName
		from member m, grade g
		where (m.id = #{id} and m.pw = #{pw}) and (m.gradeNo = g.gradeNo)
	</select>
	
	<!-- 1-2. 최근 접속일 수정 -->
	<update id="setConDate">
		update Member
		set conDate = sysdate
		where id = #{id}
	</update>
	
	<!-- 2. id 중복 체크 -->
	<select id="checkId" resultType="String">
		select id from member where id = #{id}
	</select>
	
	<!-- 3. 회원 가입 -->
	<insert id="write">
		insert into member(id, pw, name, gender, birth, tel, email)
		values(#{id}, #{pw}, #{name}, #{gender}, #{birth}, #{tel}, #{email})
	</insert>
	
	<!-- 4. 내 / 회원 정보 보기 -->
	<select id="view" resultType="com.webjjang.member.vo.MemberVO">
		select m.id, m.name, m.gender, m.birth, m.tel, m.email,
			m.regDate, m.conDate, m.gradeNo, g.gradeName
		from member m, grade g
		where (m.id = #{id}) and (m.gradeNo = g.gradeNo)
	</select>
	
	<!-- 5. list -->
	<select id="list" resultType="com.webjjang.member.vo.MemberVO">
		select id, name, gender, birth, tel, email,
			 status, gradeNo, gradeName
		from(
			select rownum rnum, id, name, gender, birth, tel, email,
				 status, gradeNo, gradeName
			from (
				select m.id, m.name, m.gender, m.birth, m.tel, m.email,
					m.status, m.gradeNo, g.gradName
				from member m, grade g
				where (m.gradeNo = g.gradeNo)
			)
		) where rnum between #{startRow} and #{endRow}
	</select>
	
</mapper>