<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "file:///c:/dtd/mybatis-3-mapper.dtd">
<!-- "http://mybatis.org/dtd/mybatis-3-mapper.dtd" -->
<mapper namespace="com.webjjang.member.mapper.MemberMapper">
	<!-- 1. 로그인 처리 -->
	<select id="login" resultType="com.webjjang.member.vo.LoginVO">
		select m.id, m.name, m.gradeNo, g.gradeName
		from member m, grade g
		where (m.id = #{id} and m.pw = #{pw}) and (m.gradeNo = g.gradeNo)
	</select>
</mapper>